<h1>Todo List</h1>
<div>
  <input type="text" [(ngModel)]="newItemName" (keyup.enter)="addItem()" />
  <button (click)="addItem()"><i class="fa-solid fa-plus"></i></button>
</div>

<ul class="list">
  <li
    *ngFor="let item of todoItems$ | async; trackBy: trackById"
    [class.is-done]="item.isDone"
  >
    <div class="flex items-center">
      <input
        *ngIf="!item.editOn"
        type="checkbox"
        [checked]="item.isDone"
        (change)="toggleItem(item)"
      />
      <span *ngIf="!item.editOn">{{ item.title }}</span>
      <input
        type="text"
        *ngIf="item.editOn"
        [(ngModel)]="editName"
        placeholder="{{ item.title }}"
      />
      <button (click)="toggleEdit(item)" *ngIf="!item.editOn">
        <i class="fa-regular fa-pen-to-square"></i>
      </button>
      <button *ngIf="!item.editOn" (click)="deleteItem(item)">
        <i class="fa-solid fa-trash"></i>
      </button>
      <button (click)="editItem(item)" *ngIf="item.editOn">
        <i class="fa-solid fa-square-check"></i>
      </button>
    </div>
  </li>
</ul>
