<h1>Todo List</h1>
<div>
  <input type="text" [(ngModel)]="newItemName" />
  <button (click)="addItem()">Add</button>
</div>

<ul class="list">
  <li
    *ngFor="let item of todoItems$ | async; trackBy: trackById"
    [class.is-done]="item.isDone"
  >
    <div class="flex items-center">
      <input
        *ngIf="!item.editOn"
        type="checkbox"
        [checked]="item.isDone"
        (change)="toggleItem(item)"
      />
      <span *ngIf="!item.editOn">{{ item.title }}</span>
      <input
        type="text"
        *ngIf="item.editOn"
        [(ngModel)]="editName"
        placeholder="{{ item.title }}"
      />
      <button (click)="toggleEdit(item)" *ngIf="!item.editOn">edit</button>
      <button *ngIf="!item.editOn" (click)="deleteItem(item)">Remove</button>
      <button (click)="editItem(item)" *ngIf="item.editOn">confirm</button>
    </div>
  </li>
</ul>
